---
---
<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title|xml_escape }}</title>
  <style>
    body {font: medium sans-serif}
    main {
      max-width: 750px;
      margin: 10px auto;
    }
    aside {
      float: left;
      width: 200px;
    }
    aside ul {
      padding: 0;
      margin: 15px;
    }
    aside h2 {font-size: 1em}
    aside h3 {font-size: 1em; font-weight: normal}
  </style>
</head>
<body>
  <aside>
    <h2>Elements</h2>
    <ul>{% for def in site.defs %}{% if def.type == "element" %}
      <li><a href="{{ def.url | relative_url }}">{{ def.title }}</a></li>
    {% endif %}{% endfor %}</ul>

    <h2>Classes</h2>
    <ul>{% for def in site.defs %}{% if def.type == "class" %}
      <li><a href="{{ def.url | relative_url }}">{{ def.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </aside>
  <main>
    {{ content }}
  </main>
</body>
</html>
