---
---
<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title|xml_escape }}</title>
  <style>
    body {font: medium sans-serif}
    main {
      max-width: 750px;
      margin: 10px auto;
    }
    aside {
      float: left;
      width: 200px;
    }
    aside ul {
      padding: 0;
      margin: 15px;
    }
    aside h2 {font-size: 1em}
    aside h3 {font-size: 1em; font-weight: normal}
    header {text-align: center; border-bottom: thin solid gray}
  </style>
</head>
<body>
  <header>
  <h1><a href="https://openwork-nz.github.io/mdwg/defs/TableOfContents">ICSM Metadata Good Practices</a></h1>
  </header>

  <aside>
    <ul>{% for def in site.defs|sort:"-rank","title" %}{% if def.type == "section" %}
      <li><a href="{{ def.url | relative_url }}">{{ def.title }}</a></li>
    {% endif %}{% endfor %}</ul>

    <h2>{{ page.section }}</h2>
    <ul>{% for def in site.defs|sort:"-rank","title" %}{% if def.section == page.section %}
      <li><a href="{{ def.url | relative_url }}">{{ def.title }}</a></li>
    {% endif %}{% endfor %}</ul>
    
    {% if page.section != "class" %}<details>
      <summary>Classes</summary>
      <ul>{% for def in site.defs|sort:"-rank","title" %}{% if def.type == "class" %}
        <li><a href="{{ def.url | relative_url }}">{{ def.title }}</a></li>
      {% endif %}{% endfor %}</ul>
    </details>{% endif %}
  </aside>

  <main>
    {{ content }}
  </main>
</body>
</html>
